<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Vue.js</title>
    <link href="assets/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Vue.js</h1>

<h4>Документация и примеры:</h4>
&bull; <a href="https://vuejs.org/v2/guide/">vuejs.org</a><br>
&bull; <a href="https://habr.com/ru/post/329452/">Vue.js для сомневающихся. Все, что нужно знать (Хабр)</a><br>
&bull; <a href="https://medium.com/@vvladislavv/%D0%B7%D0%B0%D0%B1%D1%8B%D0%B2%D0%B0%D0%B5%D0%BC-%D0%BE-jquery-%D1%81-vue-js-%D1%87%D0%B0%D1%81%D1%82%D1%8C-1-da1773a2cac0">Забываем о jQuery с Vue.js (Часть 1)</a><br>




<h3>Hellow</h3>
<div id="app1">
    {{ message }}
</div>

<h3>Конструктор</h3>
<div id="app2">
    {{ first_name + ' ' + last_name + ' | ' + full_name }}
</div>

<h3>Директивы</h3>
<div id="app3">
  <span v-bind:title="message">
    Динамический title!
  </span>
  <input type="text" v-bind:value="dynamicVal">
</div>
<div id="app-3">
    <span v-if="seen">Now you see me</span>
</div>

<h3>События</h3>
<div id="app-5">
    <p>{{ message }}</p>
    <button v-on:mouseenter="reverseMessage" v-on:click="alertMessage">Перевернуть сообщение</button>
</div>

<h3>Компоненты</h3>
<div id="app-7">
    <ol>
        <!--
          Теперь мы можем передать каждому компоненту todo-item объект
          с информацией о задаче, который будет динамически меняться.
          Мы также определяем для каждого компонента "key",
          значение которого мы разберём далее в руководстве.
        -->
        <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id"
        ></todo-item>
    </ol>
</div>


<script src="assets/vue.js"></script>
<script src="assets/app.js"></script>

</body>
</html>